.main {
    width: 90%;
    margin: 50px auto 0;
}

.currentImage {
    width: 100%;
    display: flex;

    gap: 10px;
    margin-bottom: 20px;
}

.main>h1 {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentImage .currentSliderImg,
.currentImage .progress {
    width: 50%;
}

.currentSliderImg>img {
    width: 100%;
    text-align: center;
}
.span1{
    font-size: 12px;
    display: block;
}
.btn {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    background: white;
}

.btn a>button {
    width: 100%;
    padding: 17px 50px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 16px;
    background: linear-gradient(#1095c1 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}

.btn a>button:hover {
    --p: 100%;
    color: #fff;
}

.main .slider {
    position: relative;
}

.main .slider .carousel {
    overflow: hidden;
    display: flex;
    /* gap: 10px; */
    scroll-behavior: smooth;
}

.sliderImage {
    min-width: 150px;
}

.sliderImage>img {
    width: 95%;
    aspect-ratio: 3/2;
}

.main .slider .prev,
.main .slider .next {
    position: absolute;
    top: 40px;
    background: black;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .slider .prev {
    left: 0;
}

.main .slider .next {
    right: 0;
}

.main .slider .prev::before {
    content: url(../../assets/image/next.png);
    transform: rotateY(180deg);

}

.main .slider .next::before {
    content: url(../../assets/image/next.png);
}

@media screen and (max-width:600px) {

    .sliderImage>img {
        width: 95%;
    }

    .main .slider .carousel {
        gap: 0;
    }

    .currentImage {
        width: 100%;
        flex-wrap: wrap;
    }

    .currentImage .currentSliderImg,
    .currentImage .progress {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .main .slider .prev,
    .main .slider .next {
        top: 40px;
        background: black;
    }
}