.main{
    width: 90%;
    margin: 70px auto 0;
}
.main >h1{
    text-align: center;
    padding: 30px 0;
}
.flex{
display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
}
.left,.right{
    width: 45%;
}
@media screen and (max-width:600px) {
    .flex{
        flex-wrap: wrap;
    }
        .left,
        .right {
            width: 100%;
        }
}